
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Banner Management</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/dash">Home</a></li>
                <li class="breadcrumb-item"></li><a href="#">Banner Management/</a></li>
                <li class="breadcrumb-item active"> Top Banner</i></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->




    <section class="section">
  {{#if coverimg}}

{{else}}
        <div>
            <p>Upload cover image <a
                    href="/admin/addCover" class="btn btn-primary btn-sm">Add New</a></p>

        </div>
        {{/if}}
        <hr>
  
        <div class="row ">
         
            <div class=" col-md-6 card mb-3 ">
                <img class="card-img-top" src="/images/cover-Img/{{coverimg.Img}}" alt="Card image cap">
                {{coverimg.position}}
            </div>
        </div>

          {{#if coverimg}}
             <a class="btn btn-info btn-sm text-light" href="/admin/edit-CoverBanner/{{coverimg._id}}">Edit this
                        banner</a>
                   <button class="btn btn-danger btn-sm text-light" onclick="deleteBanner('{{coverimg._id}}')">Delete
                        banner</button>
           {{/if}}
    </section>

    
<script>


    function deleteBanner(bannerId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/admin/delete-TopBanner/'+bannerId,
                    success(response) {
                        Swal.fire(
                            'Deleted!',
                            'Your Banner has been deleted.',
                            'success'
                        )
                        location.reload()
                    }
                })

            }
        })

    }
</script>











</main><!-- End #main -->