<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/dash">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">

          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">

              {{!-- <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
               

                  <li><a class="dropdown-item" href="#">Total</a></li>
                   <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li> 
                </ul>
              </div> --}}

              <div class="card-body">
                <h5 class="card-title">Sales <span>| Total</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{DashDetails.TotalSales}}</h6>
                    {{!-- <span class="text-success small pt-1 fw-bold">12%</span> <span
                      class="text-muted small pt-2 ps-1">increase</span> --}}

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Sales Card -->

          <!-- Revenue Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">

       

              <div class="card-body">
                <h5 class="card-title">Revenue <span>| Total</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-dollar"></i>
                  </div>
                  <div class="ps-3">
                    <h6 style="font-size: 22px;"> <i class="bi bi-currency-rupee"></i>{{DashDetails.TotalRevenue}}</h6>
                    {{!-- <span class="text-success small pt-1 fw-bold">8%</span> <span
                      class="text-muted small pt-2 ps-1">increase</span> --}}

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Revenue Card -->

          <!-- Customers Card -->
          <div class="col-xxl-4 col-xl-12">

            <div class="card info-card customers-card">

        

              <div class="card-body">
                <h5 class="card-title">Users <span>| Total</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{DashDetails.TotalUsers}}</h6>
                    {{!-- <span class="text-danger small pt-1 fw-bold">12%</span> <span
                      class="text-muted small pt-2 ps-1">decrease</span> --}}

                  </div>
                </div>

              </div>
            </div>

          </div><!-- End Customers Card -->

     

          <!-- Reports -->
          <div class="col-12">
            <div class="card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">Reports <span>/Monthly</span></h5>

                <!-- Line Chart -->
                <div id="reportsChart"></div>


                <script>
                                        //Seperating datas into seperate array of months and revenue//
                  const month = []
                  {{#each monthlygraph}}
                  month.unshift('{{this.month}}')
                  {{/each}}

                  const monthlyRevenue = []
                  {{#each monthlygraph}}
                  monthlyRevenue.unshift('{{this.Revenue}}')
                  {{/each}}

                  const couponApplied = []
                  {{#each monthlygraph}}
                  couponApplied.unshift('{{this.profit}}')
                  {{/each}} 

                  const netAmountPaid = []
                  {{#each monthlygraph}}
                  netAmountPaid.unshift('{{this.sales}}')
                  {{/each}} 

                  //----------------------------------------------------------//

                  document.addEventListener("DOMContentLoaded", () => {
                    new ApexCharts(document.querySelector("#reportsChart"), {

                      series: [{
                        name: 'Revenue',
                        data: monthlyRevenue,
                      }, {
                        name: 'profit',
                        data: couponApplied
                      }, {
                        name: 'sales',
                        data: netAmountPaid
                      }],
                      chart: {
                        height: 350,
                        type: 'area',
                        toolbar: {
                          show: false
                        },
                      },
                      markers: {
                        size: 4
                      },
                      colors: ['#4154f1', '#2eca6a', '#ff771d'],
                      fill: {
                        type: "gradient",
                        gradient: {
                          shadeIntensity: 1,
                          opacityFrom: 0.3,
                          opacityTo: 0.4,
                          stops: [0, 90, 100]
                        }
                      },
                      dataLabels: {
                        enabled: false
                      },
                      stroke: {
                        curve: 'smooth',
                        width: 2
                      },
                      xaxis: {
                        type: 'month',
                        categories: month
                      },
                      tooltip: {
                        x: {
                          format: 'dd/MM/yy HH:mm'
                        },
                      }
                    }).render();
                  });
                  //--------------------------------------------------------//
                  document.addEventListener("DOMContentLoaded", () => {
                    new ApexCharts(document.querySelector("#reportsChart"), {

                      series: [{
                        name: 'sales',
                        data: netAmountPaid,
                      }],
                      chart: {
                        height: 350,
                        type: 'area',
                        toolbar: {
                          show: false
                        },
                      },
                      markers: {
                        size: 4
                      },
                      colors: ['#ff771d'],
                      fill: {
                        type: "gradient",
                        gradient: {
                          shadeIntensity: 1,
                          opacityFrom: 0.3,
                          opacityTo: 0.4,
                          stops: [0, 90, 100]
                        }
                      },
                      dataLabels: {
                        enabled: false
                      },
                      stroke: {
                        curve: 'smooth',
                        width: 2
                      },
                      xaxis: {
                        type: 'month',
                        categories: month
                      },
                    }).render();
                  });
                </script>
                <!-- End Line Chart -->

              </div>

            </div>
          </div><!-- End Reports -->


     
          <!-- Recent Sales -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">

              <div class="filter">
                <a class="icon" href="/admin/viewOrders" data-bs-toggle="">View more</i></a>
              </div>

              <div class="card-body">
                <h5 class="card-title">Recent Sales <span>5</span></h5>

                <table class="table table-borderless ">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Customer</th>
                      <th scope="col">Location</th>
                      <th scope="col">Bill</th>
                      <th scope="col">Payment</th>
                      <th scope="col">View</th>
                    </tr>
                  </thead>
                  <tbody>

                    {{#each OrderHistory}}
                    <tr>
                      <td class="create_index"></td>
                      <td><a href="/admin/view-users">{{this.userDetails.UserName}}</a></td>
                      <td>{{this.deliveryDetails.State}} {{this.deliveryDetails.PostCode}}</td>
                      <td><i class="bi bi-currency-rupee"></i>{{this.totalAmount}}</td>
                      <td>{{this.payment_method}}</td>
                      {{!-- <td>{{this.status}}</td> --}}
                      <td><a href="/admin/viewOrdersDetails/{{this._id}}" class="view" title="View Details"
                          data-toggle="tooltip"><i class="bi bi-eye"></i></a></td>
                    </tr>
                    {{/each}}

                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Recent Sales -->

   

        </div>
      </div><!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-4">

        <!-- News & Updates Traffic -->
        <div class="card">
          <div class="filter">
            <a class="icon" href="/admin/view_Sales_Report" data-bs-toggle="">View more</i></a>
          </div>

          <div class="card-body pb-0">
            <h5 class="card-title">Top Selling (5)<span></span></h5>

            <div class="news">
              {{#each TopSelling}}
              <div class="post-item clearfix">
                <img src="/images/product-img/{{this.image1}}" alt="">
                <h4><a href="#">{{this._id}}</a></h4>
                <span>Sales: {{this.SalesQty}}</span>
                <span>Revenue:{{this.Revenue}}</span> <br>
                <span>Profit: {{this.profit}}</span>


              </div>
              {{/each}}



            </div><!-- End sidebar recent posts-->

          </div>
        </div><!-- End News & Updates -->

        <!-- Payment Traffic -->
        <div class="card">
          <div class="card-body pb-0">
            <h5 class="card-title">Payment</h5>
            <div id="trafficChart" style="min-height: 400px;" class="echart"></div>
            <script>
              document.addEventListener("DOMContentLoaded", () => {
                echarts.init(document.querySelector("#trafficChart")).setOption({
                  tooltip: {
                    trigger: 'item'
                  },
                  legend: {
                    top: '5%',
                    left: 'center'
                  },
                  series: [{
                    name: 'Access From',
                    type: 'pie',
                    radius: ['40%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                      show: false,
                      position: 'center'
                    },
                    emphasis: {
                      label: {
                        show: true,
                        fontSize: '18',
                        fontWeight: 'bold'
                      }
                    },
                    labelLine: {
                      show: false
                    },
                    data: [{
                      value: {{ DashDetails.CODCount }},
                    name: 'COD'
                        },
              /*    {
                    value: {{ DashDetails.OnlineCount }},
                name: 'RazorPay'
                        },
                {
                  value: {{ DashDetails.PayPalCount }},
                name: 'PayPal'
                        }
                        */

                      ]
                    }]
                  });
                });
            </script>

          </div>
        </div><!-- End Payment Traffic -->


  


      </div><!-- End Right side columns -->

    </div>
  </section>

  <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script>
  
                      //Seperating datas into seperate array of months and revenue//
                  const month = []
                  {{#each monthlygraph}}
                  month.unshift('{{this.month}}')
                  {{/each}}

                  const monthlyRevenue = []
                  {{#each monthlygraph}}
                  monthlyRevenue.unshift('{{this.totalAmount}}')
                  console.log(monthlyRevenue,'monnnnnnnnnnnnnnnnnnn')
                  {{/each}} 

                  //----------------------------------------------------------//


    var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
    var yValues = [30, 49, 44, 24, 15];
    var barColors = ["red", "green", "blue", "orange", "brown","red", "green", "blue", "orange", "brown"];

    new Chart("myChart", {
      type: "bar",
      data: {
        labels: month,
        datasets: [{
          backgroundColor: barColors,
          data: monthlyRevenue
        }]
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: "World Wine Production 2018"
        }
      }
    });
  </script>



</main><!-- End #main -->